html {
    color: #222;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 -.2em 0;
}

p {
    font-size: 1em;
}

.project p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: rgb(255, 1, 121);
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 1, 121, 0);
}

a:hover {
    color: #3220E0;
    border-bottom: 2px solid rgba(255, 1, 121, 1);
    -o-transition: border .5s ease;
    -ms-transition: border .5s ease;
    -moz-transition: border .5s ease;
    -webkit-transition: border .5s ease;
    transition: border .5s ease;
}


b, strong {
    font-weight: bold;
}

samp {
    display: none;
}

img, embed, object, video {
    background: transparent;
    border: 0;
    display: block;
    max-width: 100%;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/* ------------------------- Section Styling -------------------------- */

.content {
    width: 640px;
    margin: 0 auto;
}

header {
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 3em;
    background: linear-gradient(194deg, #cc0060, #5501ff);
    background-size: 400% 400%;
    -webkit-animation: background-gradient 30s ease infinite;
    -moz-animation: background-gradient 30s ease infinite;
    -o-animation: background-gradient 30s ease infinite;
    animation: background-gradient 30s ease infinite;
}

@-webkit-keyframes background-gradient {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
@-moz-keyframes background-gradient {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
@-o-keyframes background-gradient {
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}
@keyframes background-gradient { 
    0%{background-position:62% 0%}
    50%{background-position:39% 100%}
    100%{background-position:62% 0%}
}

.header-content {
    width: 640px;
    margin: 0 auto;
    padding: 4em 0 3.5em 0;
}

.work {

}

.project {
    margin-bottom: 3em;
}

footer {
    text-align: center;
    font-size: .6em;
    color: #aaa;
    padding-bottom: 2em;
}



/* ------------------------ Responsive Styling ------------------------ */

@media screen and (min-width: 660px) {
html {
    font-size: 24px;
}
}

@media screen and (max-width: 659px) {
html {
    font-size: 16px;
}
.header-content {
    width: 100%;
    padding: 4em 20px;
}
.content {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.project {
    margin-right: 40px;
}
}
