@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

html {
    color: #222;
    background-color: #FFF;
    font-size: 16px;
    font-family: "greycliffcf-regular", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smooth: always; */
    overflow-wrap: break-word;
    word-wrap: break-word;}

h1 {font-size: 4.4rem; line-height: 4.4rem; font-family: "greycliffcf-bold", Helvetica, sans-serif;}

h2 {font-size: 3rem; font-family: "greycliffcf-light", Helvetica, sans-serif; margin-top: -3.4rem;}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}

.video-title-fix { margin-top:2.5rem; }

.credits {
    color: #757575;
    font-size: .8rem;
    margin-top: -1.6rem;
}

.light {
    color: #DDDDDD;
}

.project p {
    font-size: 1rem;
    line-height: 1.6rem;
}

.project a {
    color: rgb(255, 1, 121);
}



/*    ----- Home Page -----    */

#home-header {
    margin-top: -4.5em;
    height: 90vh;
    min-height: 30em;
    background-color: #1B1930;
    color: #FFF;
}

#home-header-container {
    width: 90vw;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home-header-intro {
    max-width: 60em;
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

#home-secondary-intro {
    opacity: 0;
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

#home-header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1em;
}

#home-header-links li {
    font-size: 1.5em;
    display: inline;
    padding-left: 1.5em;
    opacity: 0;
}

#home-header-links li:first-child {
    padding-left: 0;
}

#home-header-links li:first-child {
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

#home-header-links li:last-child {
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#home-header-links a {
    font-family: "greycliffcf-demibold", Helvetica, sans-serif;
    position: relative;
    color: #FFF;
    text-decoration: none;
    opacity: .5;
    padding-bottom: .2em;
}

#home-header-links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    opacity: .5;
}



/*    ----- Work -----    */

#content {
    width: 640px;
    margin: 0 auto;
    margin-top: 8rem;
}

.project {
    margin-bottom: 6rem;
}

.video-responsive {
    overflow:none;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.video-responsive-2 {
    overflow:none;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive-2 iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    margin-top: 1rem;
}



/*    ----- Footer -----    */

footer {
    color: rgba(255, 255, 255, 0.2);
    background-color: #1B1930;
    height: 15em;
    font-size: .8em;
    font-family: "greycliffcf-demibold", Helvetica, sans-serif;
    text-align: center;
}

#home-footer {
    margin-top: 10em;
}

#footer-content {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20em;
}



/*    ----- Individual Styles -----    */

a {
    text-decoration: none;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.underlined {
    padding-bottom: .5em;
    border-width: 0 0 5px;
    border-style: solid;
    border-color: #EFEFEF;
}

/* Text highlight color */
::selection { background: #FEF0B8; }
::-moz-selection { background: #FEF0B8; }
::-webkit-selection { background: #FEF0B8; }
